hr {
    border: 2px solid black; /* Example border style */
    margin: 20px 0; /* Example margin */
  }
.la {
    margin-right: 22px;
}
table{
  margin-left: auto;
  margin-right: auto;
}
.div2{
  display: inline-block;
  margin-left: 150px;
}
.div1{
  display: inline-block;
  margin-left: 60px;
}
p{
  font-weight: 300px;
  font-size: 25px;
}
.parc{
  display: none;
}
.stag{
  display:none;
}
.but2,.but1,.but {
  padding: 12px 24px;
  background-color: green;
  color: #fff;
  border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.but1:hover+.parc{
display: block;
}
.but2:hover+.stag{
  display: block;
}
.b1{

    padding: 10px 20px;
    background-color:black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.b1:hover {
  background-color:purple;
}
.flech{
  bottom: 20px;
    right: 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
}